# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Data and logs
src/data/raw/*.csv
src/data/processed/*.csv
logs/*.log

# IDEs and OS files
.idea/
.vscode/
.DS_Store
Thumbs.db